{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Profile Picture</th>
        </tr>
        {% for data in datas %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.gender }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.email }}</td>
                <td><a href="/media/{{ data.profile_pic }}"><img class="table-img" src="/media/{{ data.profile_pic }}"></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}